<!DOCTYPE html>
<html>

<head>
    <title>Bids Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="landing-page sidebar-collapse modal-open">
    <div>
        <a href="/home" class="btn btn-primary ml-3">Home</a>
        <a href="/login" class="btn btn-info ml-3">Login as another user</a>
    </div>

    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name of Bidder</th>
                <th scope="col">Ride ID</th>
                <th scope="col">Price</th>
                <th width="200px">Action</th>

            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<result.length; i++) { %>
            <tr>
                <td><%= result[i].biddername%></td>
                <td><%= result[i].rideid%></td>
                <td><%= result[i].price%></td>
                <td>
                    <a href="" class="btn btn-primary delete" data-toggle="modal" data-target="#modalLoginForm">Edit</a>
                    <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="/bids">Delete</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <!-- edit modal-->>
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Edit Bid</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form class="md-form mb-5" method="POST" action="bids">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="number" id="id" name="rideid" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Re-enter Ride ID</label>
                        <input type="number" id="newprice" name = "newprice" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">New Bid Price</label>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-default">Submit New Bid</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>